<div class="extcss clearfix">
	<f:form class="extform" id="contributoryCalculator" action="result" object="{search}" objectName="search">
		<div class="extdiv">
			<label for="ageOfChildForm">
				{f:translate(key: 'tx_contributorycalculator_domain_model_search.age_of_child')}
			</label>
			<div class="powermail_radio_outer" id="ageOfChildForm">
				<div class="powermail_radio_inner">
					<f:form.radio property="ageOfChild"
												class="powermail_radio"
												name="ageOfChild"
												id="ageOfChild_1"
												value="1" />
					<label for="ageOfChild_1">{f:translate(key: 'ageOfChild.1')}</label>
				</div>
				<div class="powermail_radio_inner">
					<f:form.radio property="ageOfChild"
												class="powermail_radio"
												name="ageOfChild"
												id="ageOfChild_2"
												value="2" />
					<label for="ageOfChild_2">{f:translate(key: 'ageOfChild.2')}</label>
				</div>
			</div>
		</div>

		<div class="extdiv">
			<label for="care">
				{f:translate(key: 'tx_contributorycalculator_domain_model_search.care')}
			</label>
			<f:form.select id="care"
										 property="care"
										 options="{careForms}"
										 optionLabelField="title"
										 optionValueField="uid"
										 prependOptionLabel=""
										 prependOptionValue="0" />
		</div>

		<div class="extdiv">
			<label for="chargeableIncome">
				{f:translate(key: 'tx_contributorycalculator_domain_model_search.chargeable_income')}
			</label>
			<f:form.textfield id="chargeableIncome" type="number"
												property="chargeableIncome" />
		</div>

		<div class="powermail_fieldwrap_submit marginbottom">
			<f:form.submit class="powermail_submit"
										 value="{f:translate(key: 'calculate', extensionName: 'contributory_calculator')}" />
		</div>
	</f:form>
</div>

<f:section name="renderValidationResults">
	<f:flashMessages />

	<f:form.validationResults>
		<f:if condition="{validationResults.flattenedErrors}">
			<ul class="errors">
				<f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
					<li>{propertyPath}
						<ul>
							<f:for each="{errors}" as="error">
								<li>{error.code}: {error}</li>
							</f:for>
						</ul>
					</li>
				</f:for>
			</ul>
		</f:if>
	</f:form.validationResults>
</f:section>
