<div class="extcss clearfix">
	<f:form class="extform" id="contributoryCalculator" action="result" object="{search}" objectName="search">
		<div class="form-group">
			<label for="year-of-validity">
				{f:translate(key: 'yearOfValidity')}
			</label>
			<f:form.select id="year-of-validity" property="yearOfValidity" options="{yearsOfValidity}" required="required"/>
		</div>
		<div class="form-group">
			<label for="ageOfChildForm">
				{f:translate(key: 'tx_contributorycalculator_domain_model_search.age_of_child')}
			</label>
			<div id="ageOfChildForm">
				<div class="form-group">
					<div class="radio">
						<label for="ageOfChild_1">
							<f:form.radio property="ageOfChild"
														name="ageOfChild"
														id="ageOfChild_1"
														value="1" />
							{f:translate(key: 'ageOfChild.1')}
						</label>
					</div>
					<div class="radio">
						<label for="ageOfChild_2">
							<f:form.radio property="ageOfChild"
														name="ageOfChild"
														id="ageOfChild_2"
														value="2" />
							{f:translate(key: 'ageOfChild.2')}
						</label>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="care">
				{f:translate(key: 'tx_contributorycalculator_domain_model_search.care')}
			</label>
			<f:form.select id="care"
										 property="care"
										 options="{careForms}"
										 optionLabelField="title"
										 optionValueField="uid"
										 prependOptionLabel=""
										 prependOptionValue="0"
										 required="required"
			/>
		</div>

		<div class="form-group">
			<label for="chargeableIncome">
				{f:translate(key: 'tx_contributorycalculator_domain_model_search.chargeable_income')}
			</label>
			<f:form.textfield type="number" id="chargeableIncome"
												property="chargeableIncome" />
		</div>

		<div class="form-group">
			<f:form.submit class="btn btn-primary"
										 value="{f:translate(key: 'calculate', extensionName: 'contributory_calculator')}" />
		</div>
	</f:form>
</div>

<f:section name="renderValidationResults">
	<f:flashMessages />

	<f:form.validationResults>
		<f:if condition="{validationResults.flattenedErrors}">
			<ul class="errors">
				<f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
					<li>{propertyPath}
						<ul>
							<f:for each="{errors}" as="error">
								<li>{error.code}: {error}</li>
							</f:for>
						</ul>
					</li>
				</f:for>
			</ul>
		</f:if>
	</f:form.validationResults>
</f:section>
